<script>

'use strict';

function loadTable(message) {
    var table = $('#queue-table');
    table.find("tbody tr").remove();
    console.log('message body: ', message.Body)
    table.append("<tr>"
        + "<td>" + message.MessageAttributes.Author.StringValue + "</td>"
        + "<td>" + message.MessageAttributes.Title.StringValue + "</td>"
        + "<td>" + message.Body + "</td>"
        +"</tr>");
};


async function listMessages() {
    try {
        let queue_message = await axios.get('/queue/messages')
        console.log('[listMessages] qeueu_message: ', queue_message)
        if (queue_message.data.hasOwnProperty('Messages'))
            loadTable(queue_message.data['Messages'][0])
    } catch (error) {
        console.log('[listMessages] err: ', error)
    }
}

async function sendMessage() {
    let message_body = $('#message-body').val()
    let title = $('#message-title').val()
    let author = $('#message-author').val()

    let response = await axios.post('/queue/message', {
                        message: message_body,
                        title: title,
                        author: author
                    })
    console.log('[sendMessage] response: ', response)
    listMessages()
}


function listQueues() {
    console.log('listQueues')

    $.ajax({
        url: '/queue/list',
        dataType: 'json',
        type: 'get',
        contentType: 'application/json',
        success: function( data, textStatus, jQxhr ){
            console.log('[listQueues] ajax response: ', data);
            loadTable(data)
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( 'listQueues err: ', errorThrown );
        }
    });
}

listMessages()
setInterval(() => {
    listMessages()
}, 25000);


function createQueue() {
    console.log('createqueue')
    let queue_name = $('#queue-name').val()
    console.log('createqueue queue_name: ', queue_name)

    $.ajax({
        url: '/queue/create',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify( {
            queue_name: queue_name
        } ),
        processData: false,
        success: function( data, textStatus, jQxhr ){
            console.log('[createQueue] ajax response: ', data);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( 'createQueue err: ', errorThrown );
        }
    });
}
</script>